*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fae4b2;
}

a{
    color: white;
}

.container{
    background-color: #eab676;
}
/* header başlangıc css kodları */
header nav{
    display:flex;
}
/* header bitiş */
